.body {
  background-color: #9a9a9a;
  height: 90vh;
  width: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.todo-body {
  background-color: #9a9a9a;
  height: 90vh;
  width: 40vw;
  justify-content: center;
  display: flex;
}

.addtask-body {
  margin-top: 5%;
}

.addtask-button {
  width: 35vw;
}
